@import url('//fonts.googleapis.com/css?family=Roboto:400,300,700');
@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');
/*--------------------------------------------------------------*\
|*                     Layout                                   *|
\*--------------------------------------------------------------*/
body {
    font-family:Roboto,sans-serif;
    background:#fff;
    margin:0;
}
h1 {
    margin-top:25px;
    padding:29px 0;
    font-size:170%;
    font-weight:300;
    color:#000;
}
#navBar {
    top:0;
    width:320px;
    height:100%;
    background:#252525;
    position:fixed;
}
#drawer {
    display:none;
    cursor: pointer;
}
.logo {
    margin:30px;
}
#nav {
    overflow:hidden!important;
}
#nav a,#nav input[type="submit"] {
    width:100%;
    display:inline-block;
    text-decoration:none;
    font-size:140%;
    padding:15px 0 15px 30px;
    color:#008bcb;
    font-weight:700;
    transition:background .2s, color .2s;
    margin-bottom:2px;
    outline:none!important;
}
#nav input[type="submit"] {
    border:0;
    font-family:Roboto,sans-serif;
    cursor:pointer;
    background:none;
    text-align:left;
}
#nav a:hover,#nav input[type="submit"]:hover {
    background-color: #008bcb;
    color: #fff;
    transition: background .2s, color .2s;
}
#nav .active {
    color:#fff;
    background-color:#008bcb;
}
#workspace {
    margin:6% 0 0 500px;
    max-width:calc(100% - 300px);
    margin-top:91px;
}
#profileContainer {
    padding: 0 10px;
    border-radius: 20px;
    width: 188px;
    float: right;
    margin-right: 25%;
}
#profileContainer input[type="submit"] {
    width: 188px;
}
#profileContainer img {
    width: 100%;
}
.uploader_mask {
    background:#FFFDD6;
    color:#D3B910;
}
#formContainer {
    width:100%;
    max-width:520px;
}
.formBlock input[type="text"],
.formBlock input[type="password"],
.formBlock input[type="checkbox"] {
    float:right;
}
.formBlock {
    display:inline-block;
    margin-bottom: 13px;
    width: 100%;
}
/*--------------------------------------------------------------*\
|*                     Table style                              *|
\*--------------------------------------------------------------*/
table.wide {
    width:100%;
    max-width:560px;
    border-spacing:0;
    text-align:right;
}
thead {
    background-color:#252525;
    color:#fff;
}
thead th {
    padding:10px 15px;
}
tbody td {
    padding:10px 17px;
}
table.wide tbody tr:hover {
    background-color:#F7F7F7;
    cursor:pointer;
}
/*--------------------------------------------------------------*\
|*                     Form style                               *|
\*--------------------------------------------------------------*/
input[type="text"],input[type="password"] {
    width:280px;
    max-width:100%;
    background:#fff;
    border:1px solid #ccc;
    padding:7px;
    font-family:Roboto,sans-serif;
    font-size:19px;
    color:#555;
}
input[type="text"]:disabled {
    background-color:#cfcfcf;
}
input[type="submit"],input[type="button"],input[type="reset"] {
    display:inline;
    width:299px;
    max-width:330px;
    color:#fff;
    border:0;
    padding:10px;
    font-family:Roboto,sans-serif;
    font-size:19px;
    cursor:pointer;
    transition:background .5s;
    margin-bottom:5px;
    outline:none;
}
#checkContainer {
    float: right;
}
#checkContainer input[type=checkbox] {display:none;}
#checkContainer span {
    background-color:#252525;
    color:#FFF;
    text-align:center;
    width:296px;
    height:40px;
    line-height:40px;
    cursor:pointer;
    display:block;
}
#checkContainer span:hover {
    background-color: #008bcb;
}
#checkContainer input[type=checkbox]:checked + span {
    background-color: #0064cb;
}
.next {
    background:#008bcb;
}
.next:hover {
    background:#0f72cb;
    transition:background .4s;
}
.cancel {
    background:#737373;
}
.cancel:hover {
    background:#575757;
    transition:background .4s;
}
.small {
    width:145px!important;
    /* Because rule input[] over classes ... */
    margin-right:3px!important;
}
.isa_success,.isa_warning,.isa_error {
    margin:10px 0;
    padding:3px 10px 3px 0;
    min-width:300px;
}
.isa_success tbody td,.isa_warning tbody td,.isa_error tbody td {
    padding: 4px 20px;
}
.isa_success {
    color:#4F8A10;
    background-color:#DFF2BF;
}
.isa_warning {
    color:#9F6000;
    background-color:#FEEFB3;
}
.isa_error {
    color:#D8000C;
    background-color:#FFBABA;
}
.isa_success td:before {
    content:'\f058';
    font-family:FontAwesome;
    font-size:1.7em;
    margin-right:10px;
    vertical-align:middle;
}
.isa_warning td:before {
    content:'\f071';
    font-family:FontAwesome;
    font-size:1.7em;
    margin-top:-3px;
    margin-right:10px;
    vertical-align:middle;
}
.isa_error td:before {
    content:'\f057';
    font-family:FontAwesome;
    font-size:1.7em;
    margin-right:10px;
    vertical-align:middle;
}
.error {
    color:#D8000C;
    background-color:#FFBABA;
    padding: 11px 16px 9px 14px;
    list-style-type: none;
    display: inline-block;
}
.error li:before {
    content:'\f057';
    font-family:FontAwesome;
    font-size:1.7em;
    margin-right:10px;
    vertical-align:middle;
}
.singleError {
    color: #D8000C;
    background-color: #FFBABA;
    padding: 5px 2px 7px 7px;
    list-style-type: none;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    float: right;
    width: 287px;
    max-width: 100%;
}
/*--------------------------------------------------------------*\
|*                     Mobile                                   *|
\*--------------------------------------------------------------*/
@media only screen and (max-width: 1475px){
    #profileContainer {
        float: left;
        margin-left: 322px;
        margin-top: -82px;
        margin-bottom: 20px;
        overflow: hidden;
    }
}
@media only screen and (max-width: 1030px){
    #navBar {
        width:295px;
    }
    #formContainer {
        margin: 0 auto
    }
    #drawer {
        display:inline;
        position:absolute;
        width:45px;
        margin-top:-1px;
        margin-left:295px;
    }
    #profileContainer {
        float: inherit;
        margin: 0 auto 30px auto;
    }
    #workspace {
        margin:10px;
        max-width:100%;
    }
    table.wide {
        margin: 0 auto;
    }
    #workspace h1 {
        padding-left:12%;
    }
}
@media only screen and (max-width : 450px) {
    .formBlock input[type="text"],
    .formBlock input[type="password"],
    .formBlock input[type="checkbox"]{
        width: 94%;
        margin-right: 10px;
    }
    body {
        overflow-x: hidden;
    }
    h1 {
        padding-left:0;
    }
    #checkContainer {
        margin-right: 10px;
    }
    .wide th:first-child{
        padding: 5px;
        text-align: left;
    }
    tbody td {
        padding:10px 10px;
    }
}